<div>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">TecnoEmpresa</a>
    </nav>
    <div class="buscador">
        <form class="searchform" ng-submit="search()">

            <input class="searchbutton" type=image src="img/ico_search.png">
            <span><input placeholder="Buscar Empresa" class="searchfield" type="text" ng-model="filtrar" /></span>
            <div class="circulo" ng-click="filtrar=''">X</div>

        </form>
    </div>
</div>

<h2>Empresas</h2>

<div class="container">
    <div id="accordion">
            <table class="table table-striped">
                <tr>
                    <th>Nombre de Empresa</th>
                    <th class="ubicacion" >Ubicación</th>
                </tr>
            </table>
        <div class="card" ng-repeat="company in listaEmpresas.companies | filter:filtrar">

            <div class="card-header">

                <a class="card-link" data-toggle="collapse" href="#{{company.id}}" aria-expanded="false" aria-controls="{{company.id}}">
  
                    <div class="cabecara">{{company.name}}</div>
                    <span class="collapsed">

                    

                </a>
            </div>
            <div id="{{company.id}}" class="collapse">
                <div class="card-body">
                    <h4><span class="tituloEmpresa">Datos de la Empresa </span>
                        <img src="img/ico_company.png" width="20px" />
                        <div class="cerrarEmpresa"><a  data-toggle="collapse" href="#{{company.id}}" aria-controls="{{company.id}}">X</a> </div>
                    </h4>
                    
                    <span class="infobox"><b>Nombre:</b>{{company.name}}</span>
                    <span class="infobox"><b>Teléfono:</b>{{company.offices [0].phone}}</span>
                    <span class="infobox"><b>Pais:</b>{{company.offices [0].country}}</span>
                    <span ><div class="infobox"><b>Dirección:</b>{{company.offices [0].address}}</div></span>
                        <br>

                    <info-productos empresa=company.id></info-productos>
<br>
                    <lista-clientes empresa=company.id></lista-clientes>

                </div>
            </div>
        </div>

       




    </div>

</div>
